@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:500';
html,
body {
  font-family: 'Roboto Mono', monospace;
  background: #212121;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #757575;
}

img {
    max-width: 100%;
    width: 100vw;
    height: 100vw;
    max-height: 100%;
}

/*.portrait {*/
    /*height: 80px;*/
    /*width: 30px;*/
/*}*/

/*.landscape {*/
    /*height: 30px;*/
    /*width: 80px;*/
/*}*/

/*.square {*/
    /*height: 75px;*/
    /*width: 75px;*/
/*}*/
